$link: #333333;
$card-content-padding: 1rem;
$body-font-size: 14px;
$footer-padding: 1rem;
$section-padding: 1rem 0;
$radius: 0;
$card-radius: 0;
@import "~bulma/bulma.sass";
@import "~buefy/src/scss/buefy";


html {
    scroll-behavior: smooth;
    overflow-y: overlay;
}

body {
    font-smooth: auto;
    -webkit-font-smoothing: auto;
}

:focus {
    outline: unset;
}

.container {
    max-width: 999px !important;
    padding: 0 1rem;

    &.small {
        max-width: 666px !important;
    }
}

main.main {
    padding: 0 0 1.5rem;
    min-height: calc(100vh - 133px);
}

.notification {
    padding: 1.25rem;
}

.bold {
    font-weight: bold;
}

.clickable {
    cursor: pointer;
}

.image {
    img {
        width: 100%;
    }
}

.button .image:not(:last-child) {
    margin-right: .5rem;
}

.media.user {
    padding-top: 0;
    border-top: 0;

    .media-left {
        margin-right: .5rem;
    }
}

.header {
    .header-body {
        padding: 1rem 0;

        .level-left {
            text-align: center;
        }
    }

    .navbar {
        .container {
            min-height: 2.25rem;
        }

        .level {
            width: 100%;
        }
    }

    .logo {
        display: inline-block;
        border: 1px solid #DDD;
        padding: 0 1rem;
        margin: 0 auto;

        .is-uppercase {
            max-width: 220px;
            font-size: 1.5rem;
            font-weight: bold;
            color: #8f00ff;
        }

        span {
            font-size: 1rem;
            color: #33333350;
        }
    }
}

.card {
    box-shadow: unset;
    border: 1px solid #EEEEEE;
}

.button.is-text {
    text-decoration: none;
}

.input, .taginput .taginput-container.is-focusable, .textarea {
    border-color: #dbdbdb;
    box-shadow: none;
}

.card {
    overflow: unset;

    .media:not(:last-child) {
        margin-bottom: 0;
    }

    &:not(:last-child) {
        margin-bottom: .75rem;
    }
}

.items {
    margin-bottom: 1.5rem;
}

.item {
    &.media + .media {
        border-top: 1px dashed #DDD;
        margin-top: .5rem;
        padding-top: 1rem;
    }

    .meta {
        margin-top: .5rem;

        &:not(:last-child) {
            margin-bottom: .5rem;
        }
    }

    .notification:not(:last-child) {
        margin-bottom: .5rem;
        margin-top: .5rem;
        padding: .75rem;
    }
}

.widget-title {
    text-transform: capitalize;
    font-weight: bold;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}

h4 .widget-title {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
}

.avatar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.is-rounded {
        img {
            border-radius: 50px;
        }
    }

    &.initials.is-bordered {
        border: 1px solid #DDDDDD;
    }

    img {
        border-radius: 5px;
        min-height: unset;
        margin-bottom: 0;
    }

    .medal,
    .delete {
        z-index: 1;
        position: absolute;
        right: -.5rem;
    }

    .medal {
        top: .25rem;
        right: .5rem;
        cursor: pointer;
    }

    .delete {
        bottom: -.5rem;
        background-color: #ec3726;
    }

    .image-blank {
        min-height: 150px;
    }

    &:before {
        position: absolute;
        bottom: -.25rem;
        right: -.25rem;
        width: .65rem;
        height: .65rem;
        border-radius: 2px;
        content: ""
    }

    &.online:before {
        background: #d8ab34;
    }

    &.offline:before {
        background: #dddddd;
    }

    .wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-y: unset !important;
    }
}

.upload {
    width: 100%;
    height: 100%;

    input[type=file] {
        width: 100%;
        height: 100%;
    }

    .upload-draggable {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.subscribe-box {
    margin-bottom: 1rem !important;
}

@media screen and (max-width: 768px) {
    html {
        overflow-y: auto;
    }

    .media-content {
        overflow-x: unset;
    }

    .navbar {
        padding: 1rem 0 0;
    }

    .level-left + .level-right {
        margin-top: .5rem;
    }
}
